<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Frameline</h3>
</div>

<div id="player"></div>

        <div class="controls">
            <input type="button" ng-click="pause()" value="Pause" /><br />
            <input type="button" ng-click="loadVideoById()" value="Load Video" />&nbsp;
            <input type="text" ng-model="loadVideo.id" />&nbsp;
            <input type="text" ng-model="loadVideo.quality"/>
        </div>
